.create-page {
    position: relative;
    /* Add other styles as needed */
  }
  
  .search-bar {
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }
  
  .search-bar input {
    width: 50%; /* Adjust width as needed */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 480px;
  }
  