@keyframes floatBubble {
  0% {
      transform: translateY(0);
      opacity: 1;
  }
  100% {
      transform: translateY(-90vh); /* Adjusted to move almost to the top */
      opacity: 0;
  }
}

.App span {
  position: absolute;
  bottom: 50%; /* Center vertically */
  left: 50%;  /* Center horizontally */
  transform: translate(-50%, 0); /* Center the bubble */
  border-radius: 50%;
  animation: floatBubble 5s ease-in infinite;
}
